[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-pymongo = "*"
flask-jwt-extended = "*"
flask-mail = "*"
celery = "*"
gevent = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"
twine = "*"

[requires]
python_version = "3.10"
